<?xml version="1.0" encoding="utf-8"?>
<package id="a7738f48-6432-4770-8ed5-4396901e8f19" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <name>JPA.SqlServer.TestApplication.Services</name>
  <externalReference>c09ab570-437b-494a-bbac-bfd89ca4a3d6</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="1b8f2b45-99c0-42dc-b28e-bcd4621c3e71" include="Intent.Common.Java" isExternal="true">
      <module>Intent.Common.Java</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="e3481ac6-e429-4423-8eba-b5b1bc890f1b" include="Intent.Java.Services" isExternal="true">
      <module>Intent.Java.Services</module>
    </reference>
    <reference packageId="27f3b2d0-b9e5-47da-bece-d305c33b5945" include="Intent.Java.SpringBoot" isExternal="true">
      <module>Intent.Java.SpringBoot</module>
    </reference>
    <reference packageId="5fbac7a8-1f34-4e1a-a4c2-75234de5bd69" include="Intent.Java.SpringBoot.Validation" isExternal="true">
      <module>Intent.Java.SpringBoot.Validation</module>
    </reference>
    <reference packageId="a4d68385-e0ad-43a7-8f37-deea04770d82" include="Intent.Java.SpringDoc.OpenApi" isExternal="true">
      <module>Intent.Java.SpringDoc.OpenApi</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modelers.Services" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
    <reference packageId="264605e5-49c3-4144-92c7-d48d328fe6ee" include="JPA.SqlServer.TestApplication.Domain" isExternal="true">
      <path>../../Domain/JPA.SqlServer.TestApplication.Domain/JPA.SqlServer.TestApplication.Domain.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>