<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</targetDesignerId>
  <createPackages>
    <package id="0cfb8a9a-9c39-4fc4-b868-b2d75deb98cb" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906" type="Services Package">
      <name>Services</name>
      <stereotypes />
      <childElements>
        <element id="d2a1a0d7-04a4-4736-bcd5-24a873f83bec" typeId="625e3f28-5e29-4cd3-92e6-9a111dbbb32c" type="Exception Type">
          <name>AuthenticationFailedException</name>
          <genericTypes />
          <metadata />
          <stereotypes>
            <stereotype stereotypeDefinitionId="7b4f7447-6cc6-46b1-b3b0-ea8c442a72eb" name="Exception Settings">
              <addedByDefault>true</addedByDefault>
              <definitionPackageName>Intent.Java.Services</definitionPackageName>
              <definitionPackageId>e3481ac6-e429-4423-8eba-b5b1bc890f1b</definitionPackageId>
              <properties>
                <property name="a1f602c6-14cc-4be1-83dc-a0a4032a817c" display="Is External" value="false" isActive="true" />
                <property name="643b9ffb-f812-4db7-8368-f0d0faff90a3" display="Package" isActive="false" />
              </properties>
            </stereotype>
            <stereotype stereotypeDefinitionId="05d3f924-e9c7-4ce1-b8f4-f29bc8e7993e" name="Checked Exception Handling">
              <addedByDefault>true</addedByDefault>
              <definitionPackageName>Intent.Java.SpringBoot</definitionPackageName>
              <definitionPackageId>27f3b2d0-b9e5-47da-bece-d305c33b5945</definitionPackageId>
              <properties>
                <property name="995740c3-93e6-401a-b2d9-5e91c3d00886" display="Http Response Status" value="UNAUTHORIZED (401)" isActive="true" />
                <property name="4372c9e8-2e2e-4c0d-bae9-3b4f09686940" display="Log" value="false" isActive="true" />
              </properties>
            </stereotype>
          </stereotypes>
          <childElements />
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>AuthenticationFailedException</display>
        </element>
        <element id="58961d11-cfab-4ec7-b8c5-6fa5bcf0fbba" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
          <name>authentication</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="ddd760e6-5dc3-4f99-9208-ad3b0795da86" typeId="fee0edca-4aa0-4f77-a524-6bbd84e78734" type="DTO">
              <name>AuthenticationRequest</name>
              <genericTypes />
              <metadata />
              <stereotypes />
              <childElements>
                <element id="b8283dcc-6322-4620-b28e-deab9610bb43" typeId="7baed1fd-469b-4980-8fd9-4cefb8331eb2" type="DTO-Field">
                  <name>username</name>
                  <typeReference>
                    <typeId>d384db9c-a279-45e1-801e-e4e8099625f2</typeId>
                    <isNavigable>true</isNavigable>
                    <isNullable>false</isNullable>
                    <isCollection>false</isCollection>
                    <typeName>string</typeName>
                  </typeReference>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>username: string</display>
                </element>
                <element id="32478ddc-c5d5-4f25-b0b3-d9e3867c7027" typeId="7baed1fd-469b-4980-8fd9-4cefb8331eb2" type="DTO-Field">
                  <name>password</name>
                  <typeReference>
                    <typeId>d384db9c-a279-45e1-801e-e4e8099625f2</typeId>
                    <isNavigable>true</isNavigable>
                    <isNullable>false</isNullable>
                    <isCollection>false</isCollection>
                    <typeName>string</typeName>
                  </typeReference>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>password: string</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>AuthenticationRequest</display>
            </element>
            <element id="30872af0-25b7-4add-a5bb-e4dc82920625" typeId="fee0edca-4aa0-4f77-a524-6bbd84e78734" type="DTO">
              <name>AuthenticationResult</name>
              <genericTypes />
              <metadata />
              <stereotypes />
              <childElements>
                <element id="c09a43e0-3ed4-4327-b528-8d78ca90bb2a" typeId="7baed1fd-469b-4980-8fd9-4cefb8331eb2" type="DTO-Field">
                  <name>token</name>
                  <typeReference>
                    <typeId>d384db9c-a279-45e1-801e-e4e8099625f2</typeId>
                    <isNavigable>true</isNavigable>
                    <isNullable>false</isNullable>
                    <isCollection>false</isCollection>
                    <typeName>string</typeName>
                  </typeReference>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>token: string</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>AuthenticationResult</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>authentication</display>
        </element>
        <element id="3806cf2e-2aa5-474a-978e-9741bf9a10a6" typeId="b16578a5-27b1-4047-a8df-f0b783d706bd" type="Service">
          <name>AuthService</name>
          <genericTypes />
          <metadata />
          <stereotypes>
            <stereotype stereotypeDefinitionId="c29224ec-d473-4b95-ad4a-ec55c676c4fd" name="Http Service Settings">
              <addedByDefault>true</addedByDefault>
              <definitionPackageName>Intent.Metadata.WebApi</definitionPackageName>
              <definitionPackageId>0011387a-b122-45d7-9cdb-8e21b315ab9f</definitionPackageId>
              <properties>
                <property name="1e223bd0-7a72-435a-8741-a612d88e4a12" display="Route" value="" isActive="true" />
              </properties>
            </stereotype>
          </stereotypes>
          <childElements>
            <element id="966e2a8d-aad0-4eec-bf5a-0cd680156134" typeId="e030c97a-e066-40a7-8188-808c275df3cb" type="Operation">
              <name>authenticate</name>
              <typeReference>
                <typeId>30872af0-25b7-4add-a5bb-e4dc82920625</typeId>
                <isNavigable>true</isNavigable>
                <isNullable>false</isNullable>
                <isCollection>false</isCollection>
                <typeName>AuthenticationResult</typeName>
              </typeReference>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="b4581ed2-42ec-4ae2-83dd-dcdd5f0837b6" name="Http Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.Metadata.WebApi</definitionPackageName>
                  <definitionPackageId>0011387a-b122-45d7-9cdb-8e21b315ab9f</definitionPackageId>
                  <properties>
                    <property name="801c3e61-4431-4d81-93fa-7e57d33cb3fa" display="Verb" value="POST" isActive="true" />
                    <property name="5dd3e07d-76eb-45d4-9956-4325fb068acc" display="Route" value="" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="16a2282b-f641-4c23-96da-fa66a5cca6e9" typeId="00208d20-469d-41cb-8501-768fd5eb796b" type="Parameter">
                  <name>request</name>
                  <typeReference>
                    <typeId>ddd760e6-5dc3-4f99-9208-ad3b0795da86</typeId>
                    <isNavigable>true</isNavigable>
                    <isNullable>false</isNullable>
                    <isCollection>false</isCollection>
                    <typeName>AuthenticationRequest</typeName>
                  </typeReference>
                  <genericTypes />
                  <metadata />
                  <stereotypes>
                    <stereotype stereotypeDefinitionId="d01df110-1208-4af8-a913-92a49d219552" name="Parameter Settings">
                      <addedByDefault>true</addedByDefault>
                      <definitionPackageName>Intent.Metadata.WebApi</definitionPackageName>
                      <definitionPackageId>0011387a-b122-45d7-9cdb-8e21b315ab9f</definitionPackageId>
                      <properties>
                        <property name="d2630e0f-f930-404f-b453-1e8052a712f5" display="Source" value="Default" isActive="true" />
                        <property name="7a331e9b-f13c-4b33-9013-bd59b4a4999c" display="Header Name" isActive="false" />
                      </properties>
                    </stereotype>
                  </stereotypes>
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>in : request: AuthenticationRequest</display>
                </element>
                <element id="a5e30a49-9868-4897-9f4f-92c6b1ebfe41" typeId="c5132b85-8cea-405b-abd5-9d3eccbc0d07" type="Checked Exception">
                  <name>checkedException</name>
                  <typeReference>
                    <typeId>d2a1a0d7-04a4-4736-bcd5-24a873f83bec</typeId>
                    <isNavigable>true</isNavigable>
                    <isNullable>false</isNullable>
                    <isCollection>false</isCollection>
                    <typeName>AuthenticationFailedException</typeName>
                  </typeReference>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>throws AuthenticationFailedException</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>authenticate(request: AuthenticationRequest): AuthenticationResult</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>AuthService</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>