<?xml version="1.0" encoding="utf-8"?>
<managedFiles version="1" applicationId="4a891c19-c9d1-4623-925c-0e9ae22ef6a6">
  <file path="pom.xml" templateId="Intent.Java.Maven.PomFile" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/Application.java" templateId="Intent.Java.SpringBoot.Application" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/mappings/Users/RoleToCreateUserRoleDtoMapping.java" templateId="Intent.Java.ModelMapper.EntityToDtoMapping" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/mappings/Users/RoleToUpdateUserRoleDtoMapping.java" templateId="Intent.Java.ModelMapper.EntityToDtoMapping" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/mappings/Users/RoleToUserRoleDtoMapping.java" templateId="Intent.Java.ModelMapper.EntityToDtoMapping" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/mappings/Users/UserToUserCreateDtoMapping.java" templateId="Intent.Java.ModelMapper.EntityToDtoMapping" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/mappings/Users/UserToUserDtoMapping.java" templateId="Intent.Java.ModelMapper.EntityToDtoMapping" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/mappings/Users/UserToUserUpdateDtoMapping.java" templateId="Intent.Java.ModelMapper.EntityToDtoMapping" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/models/Users/CreateUserRoleDto.java" templateId="Intent.Java.Services.DataTransferModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/models/Users/UpdateUserRoleDto.java" templateId="Intent.Java.Services.DataTransferModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/models/Users/UserCreateDto.java" templateId="Intent.Java.Services.DataTransferModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/models/Users/UserDto.java" templateId="Intent.Java.Services.DataTransferModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/models/Users/UserRoleDto.java" templateId="Intent.Java.Services.DataTransferModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/models/Users/UserUpdateDto.java" templateId="Intent.Java.Services.DataTransferModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/models/authentication/AuthenticationRequest.java" templateId="Intent.Java.Services.DataTransferModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/models/authentication/AuthenticationResult.java" templateId="Intent.Java.Services.DataTransferModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/rest/AuthController.java" templateId="Intent.Java.SpringBoot.RestController" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/rest/HttpServiceAppliedController.java" templateId="Intent.Java.SpringBoot.RestController" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/rest/JsonResponse.java" templateId="Intent.Java.SpringBoot.JsonResponse" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/rest/MapFieldController.java" templateId="Intent.Java.SpringBoot.RestController" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/rest/RestResponseEntityExceptionHandler.java" templateId="Intent.Java.SpringBoot.Validation.RestResponseEntityExceptionHandler" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/rest/TransactionOptionsController.java" templateId="Intent.Java.SpringBoot.RestController" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/rest/UsersController.java" templateId="Intent.Java.SpringBoot.RestController" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/services/AuthService.java" templateId="Intent.Java.Services.ServiceInterface" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/services/HttpServiceAppliedService.java" templateId="Intent.Java.Services.ServiceInterface" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/services/MapFieldService.java" templateId="Intent.Java.Services.ServiceInterface" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/services/NonHttpServiceAppliedService.java" templateId="Intent.Java.Services.ServiceInterface" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/services/TransactionOptionsService.java" templateId="Intent.Java.Services.ServiceInterface" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/services/UsersService.java" templateId="Intent.Java.Services.ServiceInterface" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/services/impl/AuthServiceImpl.java" templateId="Intent.Java.Services.ServiceImplementation" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/services/impl/HttpServiceAppliedServiceImpl.java" templateId="Intent.Java.Services.ServiceImplementation" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/services/impl/MapFieldServiceImpl.java" templateId="Intent.Java.Services.ServiceImplementation" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/services/impl/NonHttpServiceAppliedServiceImpl.java" templateId="Intent.Java.Services.ServiceImplementation" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/services/impl/TransactionOptionsServiceImpl.java" templateId="Intent.Java.Services.ServiceImplementation" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/application/services/impl/UsersServiceImpl.java" templateId="Intent.Java.Services.ServiceImplementation" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/configuration/CorsConfig.java" templateId="Intent.Java.Spring.Cors.CorsConfig" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/configuration/MethodSecurityConfig.java" templateId="Intent.Java.SpringBoot.Security.MethodSecurityConfig" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/configuration/ModelMapperBean.java" templateId="Intent.Java.ModelMapper.ModelMapperBean" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/configuration/WebSecurityConfig.java" templateId="Intent.Java.SpringBoot.Security.WebSecurityConfigV3" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/data/AutoGeneratedDataSourceEntityRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/data/DefaultDataSourceEntityRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/data/OrderRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/data/UserRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/data/UserSuppliedDataSourceEntityRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/data/projections/OrderQueryProjection.java" templateId="Intent.Java.Persistence.JPA.Queries.QueryProjection" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/domain/models/AutoGeneratedDataSourceEntity.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/domain/models/DefaultDataSourceEntity.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/domain/models/Role.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/domain/models/User.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/domain/models/UserSuppliedDataSourceEntity.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/exceptions/AuthenticationFailedException.java" templateId="Intent.Java.Services.ExceptionType" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/intent/IntentCanAdd.java" templateId="Intent.Java.Weaving.Annotations.IntentCanAdd" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/intent/IntentCanRemove.java" templateId="Intent.Java.Weaving.Annotations.IntentCanRemove" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/intent/IntentCanUpdate.java" templateId="Intent.Java.Weaving.Annotations.IntentCanUpdate" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/intent/IntentIgnore.java" templateId="Intent.Java.Weaving.Annotations.IntentIgnore" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/intent/IntentIgnoreBody.java" templateId="Intent.Java.Weaving.Annotations.IntentIgnoreBody" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/intent/IntentManage.java" templateId="Intent.Java.Weaving.Annotations.IntentManage" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/intent/IntentManageClass.java" templateId="Intent.Java.Weaving.Annotations.IntentManageClass" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/intent/IntentMerge.java" templateId="Intent.Java.Weaving.Annotations.IntentMerge" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/intent/Mode.java" templateId="Intent.Java.Weaving.Annotations.ModeEnum" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/security/AuthTokenFilter.java" templateId="Intent.Java.SpringBoot.Security.AuthTokenFilter" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/SpringBoot3.StandardApp/security/JwtUtils.java" templateId="Intent.Java.SpringBoot.Security.JwtUtils" />
  <file path="src/main/resources/application.properties" templateId="Intent.Java.SpringBoot.ApplicationProperties" />
</managedFiles>