<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.3.12" />
  <module moduleId="Intent.Common.Java" version="3.3.14" />
  <module moduleId="Intent.Common.Types" version="3.3.6" />
  <module moduleId="Intent.Java.Maven" version="3.3.7" />
  <module moduleId="Intent.Java.Services" version="3.3.7" />
  <module moduleId="Intent.Java.SpringBoot" version="3.3.8-pre.0" />
  <module moduleId="Intent.Java.Weaving.Annotations" version="3.3.5" />
  <module moduleId="Intent.Metadata.WebApi" version="3.3.9-pre.0" />
  <module moduleId="Intent.Modelers.Services" version="3.3.5" />
  <module moduleId="Intent.OutputTargets.Folders" version="3.3.3" />
</modules>