<?xml version="1.0" encoding="utf-8"?>
<managedFiles version="1" applicationId="a023930b-b981-4009-9654-fb12221230ed">
  <file path="pom.xml" templateId="Intent.Java.Maven.PomFile" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/Application.java" templateId="Intent.Java.SpringBoot.Application" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/application/rest/RestResponseEntityExceptionHandler.java" templateId="Intent.Java.SpringBoot.Validation.RestResponseEntityExceptionHandler" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/configuration/ModelMapperBean.java" templateId="Intent.Java.ModelMapper.ModelMapperBean" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/A_RequiredCompositeRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/B_OptionalAggregateRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/B_OptionalDependentRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/C_MultipleDependentRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/D_MultipleDependentRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/D_OptionalAggregateRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/E_RequiredCompositeNavRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/F_OptionalAggregateNavRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/F_OptionalDependentRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/G_RequiredCompositeNavRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/H_MultipleDependentRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/H_OptionalAggregateNavRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/J_MultipleAggregateRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/J_RequiredDependentRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/K_SelfReferenceRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/L_SelfReferenceMultipleRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/M_SelfReferenceBiNavRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/OverrideTestSideARepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Associations/OverrideTestSideBRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Attributes/DefaultValuesRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/ExplicitKeys/PK_PrimaryKeyIntRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/ExplicitKeys/PK_PrimaryKeyLongRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Indexes/ComplexDefaultIndexRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Indexes/CustomIndexRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Indexes/DefaultIndexRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/Indexes/StereotypeIndexRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/NestedAssociations/InhabitantRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/NestedAssociations/TextureRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/NestedAssociations/TreeRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPC/InheritanceAssociations/TpcConcreteBaseClassAssociatedRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPC/InheritanceAssociations/TpcConcreteBaseClassRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPC/InheritanceAssociations/TpcDerivedClassForAbstractAssociatedRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPC/InheritanceAssociations/TpcDerivedClassForAbstractRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPC/InheritanceAssociations/TpcDerivedClassForConcreteAssociatedRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPC/InheritanceAssociations/TpcDerivedClassForConcreteRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPC/Polymorphic/TpcPoly_BaseClassNonAbstractRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPC/Polymorphic/TpcPoly_ConcreteARepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPC/Polymorphic/TpcPoly_ConcreteBRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPC/Polymorphic/TpcPoly_RootAbstract_AggrRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPC/Polymorphic/TpcPoly_SecondLevelRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPC/Polymorphic/TpcPoly_TopLevelRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/InheritanceAssociations/TphAbstractBaseClassAssociatedRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/InheritanceAssociations/TphAbstractBaseClassRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/InheritanceAssociations/TphConcreteBaseClassAssociatedRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/InheritanceAssociations/TphConcreteBaseClassRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/InheritanceAssociations/TphDerivedClassForAbstractAssociatedRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/InheritanceAssociations/TphDerivedClassForAbstractRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/InheritanceAssociations/TphDerivedClassForConcreteAssociatedRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/InheritanceAssociations/TphDerivedClassForConcreteRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/Polymorphic/TphPoly_BaseClassNonAbstractRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/Polymorphic/TphPoly_ConcreteARepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/Polymorphic/TphPoly_ConcreteBRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/Polymorphic/TphPoly_RootAbstractRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/Polymorphic/TphPoly_RootAbstract_AggrRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/Polymorphic/TphPoly_SecondLevelRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPH/Polymorphic/TphPoly_TopLevelRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/InheritanceAssociations/TptAbstractBaseClassAssociatedRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/InheritanceAssociations/TptAbstractBaseClassRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/InheritanceAssociations/TptConcreteBaseClassAssociatedRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/InheritanceAssociations/TptConcreteBaseClassRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/InheritanceAssociations/TptDerivedClassForAbstractAssociatedRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/InheritanceAssociations/TptDerivedClassForAbstractRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/InheritanceAssociations/TptDerivedClassForConcreteAssociatedRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/InheritanceAssociations/TptDerivedClassForConcreteRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/Polymorphic/TptPoly_BaseClassNonAbstractRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/Polymorphic/TptPoly_ConcreteARepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/Polymorphic/TptPoly_ConcreteBRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/Polymorphic/TptPoly_RootAbstractRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/Polymorphic/TptPoly_RootAbstract_AggrRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/Polymorphic/TptPoly_SecondLevelRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/data/TPT/Polymorphic/TptPoly_TopLevelRepository.java" templateId="Intent.Java.Spring.Data.Repositories.EntityRepository" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/A_OptionalDependent.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/A_RequiredComposite.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/B_OptionalAggregate.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/B_OptionalDependent.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/C_MultipleDependent.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/C_RequiredComposite.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/D_MultipleDependent.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/D_OptionalAggregate.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/E_RequiredCompositeNav.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/E_RequiredDependent.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/F_OptionalAggregateNav.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/F_OptionalDependent.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/G_MultipleDependent.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/G_RequiredCompositeNav.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/H_MultipleDependent.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/H_OptionalAggregateNav.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/J_MultipleAggregate.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/J_RequiredDependent.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/K_SelfReference.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/L_SelfReferenceMultiple.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/M_SelfReferenceBiNav.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/OverrideTestSideA.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Associations/OverrideTestSideB.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Attributes/DefaultValues.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Attributes/OrdinalEnumerated.java" templateId="Intent.Java.Domain.Enum" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Attributes/StringEnumerated.java" templateId="Intent.Java.Domain.Enum" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/ExplicitKeys/PK_PrimaryKeyInt.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/ExplicitKeys/PK_PrimaryKeyLong.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Indexes/ComplexDefaultIndex.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Indexes/CustomIndex.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Indexes/DefaultIndex.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/Indexes/StereotypeIndex.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/NestedAssociations/Branch.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/NestedAssociations/Inhabitant.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/NestedAssociations/Internode.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/NestedAssociations/Leaf.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/NestedAssociations/Texture.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/NestedAssociations/Tree.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/InheritanceAssociations/TpcAbstractBaseClass.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/InheritanceAssociations/TpcConcreteBaseClass.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/InheritanceAssociations/TpcConcreteBaseClassAssociated.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/InheritanceAssociations/TpcDerivedClassForAbstract.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/InheritanceAssociations/TpcDerivedClassForAbstractAssociated.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/InheritanceAssociations/TpcDerivedClassForConcrete.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/InheritanceAssociations/TpcDerivedClassForConcreteAssociated.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/Polymorphic/TpcPoly_BaseClassNonAbstract.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/Polymorphic/TpcPoly_ConcreteA.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/Polymorphic/TpcPoly_ConcreteB.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/Polymorphic/TpcPoly_RootAbstract.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/Polymorphic/TpcPoly_RootAbstract_Aggr.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/Polymorphic/TpcPoly_RootAbstract_Comp.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/Polymorphic/TpcPoly_SecondLevel.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPC/Polymorphic/TpcPoly_TopLevel.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/InheritanceAssociations/TphAbstractBaseClass.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/InheritanceAssociations/TphAbstractBaseClassAssociated.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/InheritanceAssociations/TphConcreteBaseClass.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/InheritanceAssociations/TphConcreteBaseClassAssociated.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/InheritanceAssociations/TphDerivedClassForAbstract.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/InheritanceAssociations/TphDerivedClassForAbstractAssociated.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/InheritanceAssociations/TphDerivedClassForConcrete.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/InheritanceAssociations/TphDerivedClassForConcreteAssociated.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/Polymorphic/TphPoly_BaseClassNonAbstract.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/Polymorphic/TphPoly_ConcreteA.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/Polymorphic/TphPoly_ConcreteB.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/Polymorphic/TphPoly_RootAbstract.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/Polymorphic/TphPoly_RootAbstract_Aggr.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/Polymorphic/TphPoly_RootAbstract_Comp.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/Polymorphic/TphPoly_SecondLevel.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPH/Polymorphic/TphPoly_TopLevel.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/InheritanceAssociations/TptAbstractBaseClass.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/InheritanceAssociations/TptAbstractBaseClassAssociated.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/InheritanceAssociations/TptConcreteBaseClass.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/InheritanceAssociations/TptConcreteBaseClassAssociated.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/InheritanceAssociations/TptDerivedClassForAbstract.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/InheritanceAssociations/TptDerivedClassForAbstractAssociated.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/InheritanceAssociations/TptDerivedClassForConcrete.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/InheritanceAssociations/TptDerivedClassForConcreteAssociated.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/Polymorphic/TptPoly_BaseClassNonAbstract.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/Polymorphic/TptPoly_ConcreteA.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/Polymorphic/TptPoly_ConcreteB.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/Polymorphic/TptPoly_RootAbstract.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/Polymorphic/TptPoly_RootAbstract_Aggr.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/Polymorphic/TptPoly_RootAbstract_Comp.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/Polymorphic/TptPoly_SecondLevel.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/domain/models/TPT/Polymorphic/TptPoly_TopLevel.java" templateId="Intent.Java.Domain.DomainModel" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/intent/IntentCanAdd.java" templateId="Intent.Java.Weaving.Annotations.IntentCanAdd" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/intent/IntentCanRemove.java" templateId="Intent.Java.Weaving.Annotations.IntentCanRemove" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/intent/IntentCanUpdate.java" templateId="Intent.Java.Weaving.Annotations.IntentCanUpdate" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/intent/IntentIgnore.java" templateId="Intent.Java.Weaving.Annotations.IntentIgnore" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/intent/IntentIgnoreBody.java" templateId="Intent.Java.Weaving.Annotations.IntentIgnoreBody" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/intent/IntentManage.java" templateId="Intent.Java.Weaving.Annotations.IntentManage" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/intent/IntentManageClass.java" templateId="Intent.Java.Weaving.Annotations.IntentManageClass" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/intent/IntentMerge.java" templateId="Intent.Java.Weaving.Annotations.IntentMerge" />
  <file path="src/main/java/com/Intent.Modules.Java.Tests/JPA.SqlServer.TestApplication/intent/Mode.java" templateId="Intent.Java.Weaving.Annotations.ModeEnum" />
  <file path="src/main/resources/application.properties" templateId="Intent.Java.SpringBoot.ApplicationProperties" />
</managedFiles>